* {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: arial;
}

html {
  font-size: 18px;
}

body {
  background: pink;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

section {
  background: rgba(0, 0, 0, 0.2);
  padding: 15px;
  max-width: 300px;
}

h1 {
  color: rgba(0, 0, 0, 0.7);
  font-size: 1.5rem;
}

table td {
  font-size: 5rem;
  background: rgba(0, 0, 0, 0.5);
  width: 100px;
  color: white;
}